################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tickets/.vs
/Tickets/Tickets/bin
/Tickets/Tickets/obj
